body {
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}

h1 {
    font-size: 60px;
}

.eat-healthy {
    padding: 10px;
}

.color {
    color: brown;
}

.side-by-side {
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: repeat;
}

.button {
    text-decoration: none;
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
    font-weight: 300;
    color: bisque;
    background-image: -o-linear-gradient(blue, skyblue);
}

.second-page {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-left: 5%;
}

.image {
    padding: 5px;
    width: 50%;
}

.half-width {
    width: 50%;
}